PORT=
JWT_ACCESS_SECRET=generate_a_new_random_string (node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
JWT_REFRESH_SECRET=generate_a_different_random_string (node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
NODE_ENV=devlopment